#about-container {
    height: 80vh;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-container > h1 {
    font-size: 100px;
    border-bottom: 1px solid black;
    width: 800px;
    margin-bottom: 20px;
}

#about-container > p {
    font-size: 21px;
    width: 800px;
}

@media screen and (max-width: 600px) {
    #about-container > h1 {
        font-size: 60px;
        width: 400px;
    }

    #about-container > p {
        font-size: 16px;
        width: 400px;
    }
}

@media (min-width: 601px) and (max-width: 1000px) {
    #about-container > h1 {
        font-size: 70px;
        width: 400px;
    }

    #about-container > p {
        font-size: 20px;
        width: 400px;
    }
}