.home-container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    height: 100vh
}

.info-container {
    padding: 10px;
}

.info-container > p {
    font-size: 20px;
}

.home-title {
    border-bottom: 1px dotted black;
    border-bottom-width: thin;
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;
}

.home-description-container > p {
    font-size: 20px;
}

.home-image {
    width: 350px;
    height: 350px;
}

@media screen and (max-width: 600px) {
    .info-container > p {
        font-size: 15px;
    }

    .home-title {
        font-size: 40px;
    }
    
    .home-image {
        width: 200px;
        height: 200px;
    }
}

@media (min-width: 601px) and (max-width: 1000px) {
    .home-title {
        font-size: 40px;
    }

    .info-container > p {
        font-size: 18px;
    }
    
    .home-image {
        width: 200px;
        height: 200px;
    }
}