.home-container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    height: 100vh
}

.info-container {
    padding: 10px;
}

.info-container > p {
    font-size: 20px;
}

.home-title {
    border-bottom: 1px dotted black;
    border-bottom-width: thin;
    text-align: center;
    font-size: 60px;
}

.home-description-container > p {
    font-size: 20px;
}

.home-image {
    width: 400px;
    height: 400px;
}