.navbar-container {
    display: block;
}
.navbar-link-container {
    /* background-color: antiquewhite; */
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding: 20px 10%;
    margin: 0;
    background-color: whitesmoke;
    /* z-index: 1000 */
}

.nav-links {
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: color .5s ease-in-out, box-shadow .3s ease-in-out;
}

.nav-links:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: white;
}