.navbar-container {
    display: block;
}
.navbar-link-container {
    /* background-color: antiquewhite; */
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding: 20px 10%;
    margin: 0;
    background-color: beige;
    /* z-index: 1000 */
}

.navbar-link-container > a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}