#footer-container {
    height: 200px;
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom:0;
    left: 0;
}

.footer-icons {
    margin: 10px;
    font-size: 50px;
    transition:2.5s;
}

.footer-icons:hover {
    -o-transform:rotate(720deg);
    -ms-transform:rotate(720deg);
    -moz-transform:rotate(720deg);
    -webkit-transform:rotate(720deg);
    transform:rotate(720deg);
}

@media (max-width: 1400px) {
    #footer-container {
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .footer-icons {
        font-size: 25px;
    }
}